<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Document</title>
  </head>
  <body>


    <div class="contanier">



        <div class="fname">
          <label for="">Your Name:</label>
          <input class="textName" type="text" />
        </div>

        <div class="location">
        <label for="">Dojo Location</label>
        <select name="" id="">
          <option value="">salfit</option>
          <option value="">ramalleh</option>
          <option value="">nablus</option>
        </select>
        </div>


        <div class="language">
            <label for="">Favorite Language:</label>
            <select name="" id="">
                <option value="c">c</option>
                <option value="c++">c++</option>
                <option value="python">python</option>
            </select>
        </div>
        
        <div class="text">
            <p>Comment(optional)</p>
            <input class="textInput" type="text"/>
        </div>


        <div class="button">
            <button >Button</button>
        </div>

    </div>
  </body>
</html>
